:root {
  --primary-color: #2699fb;
  --secondary-color: #f1f9ff;
  --dark-color: #707070;
  --bright-color: #fff;
  --border-color: #7fc4fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--secondary-color);
 
}

.container {
  display: flex;
  max-width: 1300px;
  justify-content: center;
}



/* NavBar */
#navbar {
  background: var(--primary-color);
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  left:0;
}
#navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-right: 1rem;

}
#navbar ul li {margin: 1rem;}

#navbar ul li a {
  text-decoration: none;
  padding: 1rem;
}
#navbar ul li a:hover {
  background-color: white;
}
#navbar .logo {
  color: white;
}

/* boxes */
.box-1,
.box-2 {
  flex: 1;
}
.box-1 {
  background-color: var(--bright-color);
}

.title {
  text-align: center;
  color: var(--dark-color);
  padding: 1rem 0;
}
.form-wrap .form-container {
  margin: auto;
  max-width: 500px;
}

.form-wrap .form-container .form-item {
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--bright-color);
}

.form-container .form-item label {
  padding: 1rem;
  background-color: var(--primary-color);
  flex-basis: 150px;
  border: none;
  text-align: center;
}
.form-container .form-item input {
  padding: 1rem;
  flex-basis: 250px;
  border: solid 1px var(--border-color);
}
.form-container .form-item input::placeholder {
  color: var(--border-color);
}

.item-wrap {
  display: flex;
  max-width: 430px !important;
}
.item-wrap .form-item {
  display: block !important;
}
.form-wrap .form-item input {
  width: 60px;
  padding: 0.9rem;
}
.form-wrap .form-item label {
  width: 120px;
  display: inline-block;
  font-size: 0.9rem;
}
.form-wrap .form-item {
  margin: 0;
}

#release-year {
  padding: 1rem 0.1rem;
}
.block {
  display: block !important;
  margin-bottom: 0.1rem !important;
}
.block #long-label {
  color: aliceblue;
  display: block;
  max-width: 200px;
}
.block textarea {
  display: block;
  width: 90%;
  border: solid 1px var(--border-color);
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}
textarea::placeholder {
  color: var(--border-color);
}
.btn {
  text-align: right;
  padding: 2rem;
}
.btn button {
  border: 2px solid var(--border-color);
  background: none;
  padding: 1rem;
  margin-right: 2rem;
  color: var(--primary-color);
}

/*  Added Items box */
.box-1 {
  height:115vh;
  overflow: auto;
}
 .box-1 .box-container {
   display: Grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 0.5rem;
   padding: 1rem;
 }
.box-container .search-bar {
  grid-column: 1 /span 3;
  margin: 1rem;
}
.search-bar label{
  background: var(--primary-color);
  padding: 1rem;
}
.search-bar input {
  padding: 1rem;
  border: solid 1px var(--border-color);
}
.box-container .card {
  width: 200px;
  padding: 1rem;
  background: var(--secondary-color);
  box-shadow: 0.1px 0.1px 5px var(--primary-color);
}
.card ul {
  list-style: none;
}
 .box-container .card .image img {
  width:150px;
 }
  
/* Media Queries */

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  .box-1 {
    order: 2;
  }
  .item-wrap {
    flex-direction: column;
    justify-content: start;
  }
  .item-wrap .form-item {
    margin: 0 !important;
  }
  .item-wrap .form-item {
    display: flex !important;
  }
  .item-wrap .form-item input {
    max-width: 250px;
  }

  .btn button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }
  
  #navbar {
    flex-direction: column;
  }
  #navbar ul {
    flex-direction: column;
    align-items: center;
  }
  #navbar ul li {
  
  }
  
  .box-1 .box-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
  .box-container .search-bar {
    grid-column: 1 /span 2;
    margin: 1rem;
  }
  #navbar {
    position: static;
  }
}

@media (max-width:400px) {
  .box-container .search-bar {
    grid-column: 1 /span 1;
    margin: 1rem;
  }
  .box-1 .box-container {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }

  #navbar {
    position: static;
  }
}
